th{
padding-top:10px;
padding-bottom:10px;
}
#id{
   background-color:red;
   color:white;
   cursor: default;
}
tr:hover {
  background-color:tan;
  cursor: pointer;
}
body{
 font-family:sans-serif;
 }
 tr{
  background-color:white;
  }
 
